<header class="full_fixed">
  <div class="bp_bar_container" id="general_nav">
    <div class="bp_bar bp_extra_wide">
      <div class="bp_logo">
        <a href="index.html"><img src="img/blastpad-100-white.png" alt="logo"
          width="50%" height="auto" />
        </a>
      </div>
      <div class="bp_menu lg_only">
        <nav>
          <ul id="home_menu">
            <li><a class="home_nav_list" href="getStarted.html">Getting Started</a></li>
            <li><a class="home_nav_list" href="#">Examples</a></li>
            <li><a class="home_nav_list" href="https://github.com/blastpad/BlastPad_UI/releases" target="_blank">Download</a></li>
            <li><a class="home_nav_list" href="#">Contribute</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>